SERVER_PORT=8081
# Format: jdbc:postgresql://<rds-instance-endpoint>:5432/<database-name>
SPRING_DATASOURCE_URL=jdbc:postgresql://<rds-instance-endpoint>:5432/<database-name>
SPRING_DATASOURCE_USERNAME=rds-instance-username
SPRING_DATASOURCE_PASSWORD=********
SPRING_JPA_SHOW_SQL=false