SERVER_PORT=8081
# Format: jdbc:mysql://<rds-instance-endpoint>:3306/<database-name>
SPRING_DATASOURCE_URL=jdbc:mysql://<rds-instance-endpoint>:3306/<database-name>
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=********
SPRING_JPA_SHOW_SQL=false