### https://stackoverflow.com/questions/47580247/optional-environment-variables-in-spring-app
spring.application.name=electron-eon

### Server ###
server.port=${SERVER_PORT:8080}
server.servlet.context-path=/api/v1

### Spring DataSource ###
### https://stackoverflow.com/questions/43249308/cant-create-a-mysql-database-using-spring-boot
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=${MYSQL_URL:jdbc:mysql://localhost:3306/electron_eon?createDatabaseIfNotExist=true}
spring.datasource.username=${MYSQL_USER:my_username}
spring.datasource.password=${MYSQL_PASSWORD:my_password}

### Spring JPA ###
### https://github.com/spring-projects/spring-boot/pull/25129
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.properties.jakarta.persistence.schema-generation.database.action=drop-and-create
spring.jpa.show-sql=true

### Simulate hibernate.format_sql ###
#logging.level.org.hibernate.SQL=DEBUG
#logging.pattern.console=%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
logging.level.root=INFO

### JwtDecoder ###
### https://www.danvega.dev/blog/spring-security-jwt
rsa.private-key=classpath:certs/private.pem
rsa.public-key=classpath:certs/public.pem
